@import 'bootstrap/scss/bootstrap';

body {
  background: #e0e6e7;
}

.main-cont {
  height: 85vh;
}

.projects {
  background: #f0f156;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px black;
  h4 {
    width: max-content;
    border-bottom: 2px solid;
  }
}

form {
  input {
    padding: 0.5rem;
    border: none;
    background: white;
    border-radius: 0.7rem;
  }
  button {
    border-radius: 0.7rem;
    padding: 0.5rem;
    border: none;
    background: white;
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #fda085;
      color: white;
    }
  }
}

.todos-col {
  background-color: #d9ed92;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px black;
  h4 {
    width: max-content;
    border-bottom: 2px solid;
  }
}
.fa-trash-alt:hover {
  color: rgb(211, 39, 39);
}
.fa-edit:hover {
  color: rgb(223, 151, 45);
}
.add-todo-btn {
  width: max-content;
}
